<table>
<tr>
  <th>Name</th>
  <th>Users</th>
  <th></th>
</tr>

<% @providers.each do |provider| %>
<tr>
<td><%= provider.name %></td>
<td><%= provider.users.size %></td>
<td><%= link_to "Details", provider_path(provider) %></td>
</tr>
<% end %>
</table>

<% if can? :edit, Provider %>
<%= link_to "New Provider", new_provider_path %>
<% end %>
