<script type='text/javascript'>

  function pickup_autocompleted(address) {
    autocompleted(address, 'pickup');
  }
  function dropoff_autocompleted(address) {
    autocompleted(address, 'dropoff');
  }
  function autocompleted(address, field) {
    if (address.id) {
      //found an existing address
        id_field = '#trip_' + field + '_address_id';
      $(id_field).val(address.id);
      label_field = '#' + field + '_address_label';
      $(label_field).val(address.label);
      //close dialog
      $( "#" + field + "-address-form" ).dialog( "close" );
    } else {
      //found a geocode, fill in fields
      $('#' + field + '_name').val(address.name);
      $('#' + field + '_building_name').val(address.building_name);
      $('#' + field + '_address').val(address.address);
      $('#' + field + '_city').val(address.city);
      $('#' + field + '_state').val(address.state);
      $('#' + field + '_zip').val(address.zip);
      $('#' + field + '_lat').val(address.lat);
      $('#' + field + '_lon').val(address.lon);
      $('#' + field + '_in_district').val(address.in_district);
    }
  }

  $('.address-search').bind('ajax:success', function(evt, data, status, xhr){
    if (data.id) {
      //successfully created a new address
      id_field_id = $(this).attr('data-id-element');
      $(id_field_id).val(data.id);
      label_field_id = $(this).attr('data-label-element');
      $(label_field_id).val(data.label);
      //close dialog
      $($(this)[0].parentNode).dialog( "close" );
    } else {
      //failed to create an address

      for (var field in data) {
        text_field = $('#' + data.prefix + "_" + field);
        error_element = text_field.attr('data-error-element');
        if (!error_element) {
          error_element_id = data.prefix + "_" + field
          text_field.after('<span class="error" id="' + error_element_id + '">' + data[field] + "</span>");
          error_element = "#" + error_element_id;
          text_field.attr('data-error-element', error_element);
        }
        $(error_element).innerHtml = data[field]
      }
    }
  });


  $(document).ready(function() {

      // pull in the json feed of trips
      var year = new Date().getFullYear();
      var month = new Date().getMonth();
      var day = new Date().getDate();

      $('#calendar').weekCalendar({
          timeslotsPerHour: 4,
          daysToShow: 5,
          firstDayOfWeek: 1,
          businessHours: {start: 8, end: 18, limitDisplay: true},
          allowCalEventOverlap: true,
          headerSeparator: ", ",
          timeslotHeight: 10,
          height: function($calendar){
                calHeight = $(window).height() * 0.3 + 40;
                return calHeight;
          },
          textSize: 10,
          defaultEventLength: 3,
          readonly: true,
          eventRender : function(calEvent, $event) {
              if(calEvent.end.getTime() < new Date().getTime()) {
                  $event.css({ opacity: 0.33 });
              }
          },
          data:'<%= trips_path :json %>'
      });


      // stubbing in address dialog functionality
      // cargo-cult'd via http://jqueryui.com/demos/dialog/#modal-form 
      $(function() {

          $( ".address-form" ).dialog({
              autoOpen: false,
              height: 330,
              width: 600,
              modal: true,
              buttons: {
                  "Add Address": function() {
                      form = $( this )[0].children[0];
                      $(form).trigger('submit'); 
                  },
                  Cancel: function() {
                      $( this ).dialog( "close" );
                  }
              },
              close: function() {
              }
          });

          $( "#pickup_address_label" ).click(function() {
              $( "#pickup-address-form" ).dialog( "open" );
          });

          $( "#dropoff_address_label" ).click(function() {
              $( "#dropoff-address-form" ).dialog( "open" );
          });

      });


  });

</script>
