<div id="page-header">
  <h1>Editing Trip</h1>
</div>

<%= link_to 'Cancel', @trip, :class=>'cancel' %>

<%= render 'form' %>

<hr />

<%= link_to 'Back to View Trips', trips_path, :class=>'action-bttn' %>

<%= render 'javascript' %>

