<div id="page-header">
  <h1>View Trips</h1>
</div>

<div id="calendar"></div>

<div id="expand_calendar" style="display:none;">
  <button class="ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-left ui-corner-right" title="Expand">
    <span class="ui-button-icon-primary ui-icon ui-icon-arrowthickstop-1-s"></span>
    <span class="ui-button-text">expand</span>
  </button>
</div>

<table class="trips">
  <tr>
    <th>Customer</th>
    <th>Pickup Time</th>
    <th>Result</th>
<% if can? :edit, Trip %><th></th><% end %>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <%= render "trip_row", :trip => trip %>
<% end %>
</table>

<hr />

<%= link_to 'New Trip', new_trip_path, :class=>'action-bttn new' %>

<%= render 'javascript' %>

