<div id="page-header">
  <h1>View Trips</h1>
</div>

<div id="calendar"></div>

<table>
  <tr>
    <th>Customer</th>
    <th>Pickup Time</th>
    <th>Result</th>
<% if can? :edit, Trip %><th></th><% end %>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <%= render "trip_row", :trip => trip %>
<% end %>
</table>

<hr />

<%= link_to 'New Trip', new_trip_path, :class=>'action-bttn' %>

<%= render 'javascript' %>

