<div id="page-header">
  <h1>New trip</h1>
</div>

<div id="calendar"></div>

<%= render 'form' %>

        <div id="pickup-address-form">
          <form>
            <fieldset>
              <label for="address">Address</label>
              <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all" />
            </fieldset>
          </form>
        </div>


<%= link_to 'Back', trips_path, :class=>'action-bttn' %>

<script type='text/javascript'>

    $(document).ready(function() {


        var year = new Date().getFullYear();
        var month = new Date().getMonth();
        var day = new Date().getDate();

        $('#calendar').weekCalendar({
            timeslotsPerHour: 4,
            daysToShow: 5,
            firstDayOfWeek: 1,
            businessHours: {start: 0, end: 24, limitDisplay: true},
            headerSeparator: ", ",
            height: function($calendar){
                return 250;
            },
            eventRender : function(calEvent, $event) {
                if(calEvent.end.getTime() < new Date().getTime()) {
                    $event.css({ opacity: 0.33 });
                }
            },
            data:'<%= trips_path :json %>'
        });


/* 
 * stubbing in address dialog functionality
 * cargo-cult'd via http://jqueryui.com/demos/dialog/#modal-form 
 */
        $(function() {
            var address = $( "#address" ),
                tips = $( ".validateTips" );
    
            function updateTips( t ) {
                tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
                setTimeout(function() {
                    tips.removeClass( "ui-state-highlight", 1500 );
                }, 500 );
            }
    
            function checkLength( o, n, min, max ) {
                if ( o.val().length > max || o.val().length < min ) {
                    o.addClass( "ui-state-error" );
                    updateTips( "Length of " + n + " must be between " +
                        min + " and " + max + "." );
                    return false;
                } else {
                    return true;
                }
            }
    
            function checkRegexp( o, regexp, n ) {
                if ( !( regexp.test( o.val() ) ) ) {
                    o.addClass( "ui-state-error" );
                    updateTips( n );
                    return false;
                } else {
                    return true;
                }
            }
            
            $( "#pickup-address-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Add Address": function() {
                        $( "#trip_pickup_address_id" ).val( address.val() );
                        $( this ).dialog( "close" );
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                    allFields.val( "" ).removeClass( "ui-state-error" );
                }
            });
    
            $( "#trip_pickup_address_id" ).click(function() {
                $( "#pickup-address-form" ).dialog( "open" );
            });
        });

    });

</script>
