/*
 *
 * Print Stylesheet
 *
 */

/* Base Print Style Reset */
* { background: transparent !important; color: #000 !important; text-shadow: none !important; 
    -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;}
a, a:visited { text-decoration: underline; color: blue !important; }
a:after { content: " (" attr(href) ")"; } 
abbr:after { content: " (" attr(title) ")"; }
.ir a:after { content: ""; }  /* Don't show links for images */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
tr, img { page-break-inside: avoid; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }

body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  background: white;
  font-size: 9pt;
}

/* hide stuff */
#crossbar,
#login-area,
#subnav,
#calendar,
.action-bttn,
form.customer-search { display: none; clear: both; }


/* format stuff */
#header {
  margin: 0 auto 1em;
}
#header a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
td, th {
  border-collapse: collapse;
  border: 1px solid #bbb;
  padding: 0.5em;
}

dl { } 
dt { 
  float: left; 
  clear: left; 
  width: 30%; 
  text-align: right; 
  font-weight: bold; 
  white-space: nowrap;
  } 
dd { 
  margin: 0 0 0 32%; 
  padding: 0 0 1em 0; 
}

body.reports #header {
  display: none;
}

body.daily-manifest-by-half-hour ul.schedule,
body.daily-manifest-by-half-hour-with-cab ul.schedule {
  list-style : none;
  margin     : 0;
  padding    : 0;
}

body.daily-manifest-by-half-hour ul.schedule li,
body.daily-manifest-by-half-hour-with-cab ul.schedule li {
  min-height    : 90px;
  border-bottom : 1px solid #bbb;
  padding       : 15px 0;
}

span.address_separator {
  margin : 0 .25in;
}

body.reports h1 {
  margin: 0;
}

body.reports h2 {
  margin: 0;
}

body.reports h3 {
  text-decoration: underline;
  margin: 0;
}

body.reports div.trip {
  margin: 0 0 .5em .5em;
}

body.reports div.customer {
  font-weight: bold;
}

body.reports div.cab-summary {
  margin: .5em;
  padding: .5em;
  border: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
body.reports div.time-group {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body.reports div.time-group:last-child {
  border-bottom-style: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

body.reports div.addresses div.pickup {
  float: left;
  width: 50%;
  margin-right: 5px;
}

body.reports div.addresses div.dropoff {
  float: right;
  width: 50%;
}

body.reports table.trip {
  table-layout: fixed;
  width: 95%;
  margin-bottom: 0;
  border-width: 0;
  border-color: #fff;
  margin: 0 0 5px 10px;
}

body.reports table.trip td {
  border-style: hidden;
  width: 50%;
  padding: 0;
  vertical-align: top;
}

body.reports table.trip td.name {
  font-weight: bold;
}

body.reports table.trip td.mobility {
  font-style: italic;
}

body.service-summary div#page-header, 
body.age-and-ethnicity div#page-header {
  display: none;
}

body.service-summary fieldset.select-month,
body.age-and-ethnicity fieldset.select-month {
  display: none;
}

body.service-summary img#logo,
body.age-and-ethnicity img#logo {
  float: left;
  margin: 0 25px 25px 0;
}

body.service-summary div#address, 
body.age-and-ethnicity div#address {
  float: left;
}

body.service-summary div#instructions, 
body.age-and-ethnicity div#instructions {
  float: right;
}

body.service-summary table,
body.age-and-ethnicity table {
  border: 2px solid black;
  width: 100%;
  clear: both;
  margin-top: 25px;
}

body.service-summary table td, 
body.service-summary table th,
body.age-and-ethnicity table td, 
body.age-and-ethnicity table th {
  border: 1px solid black;
  padding: .25em;
}

body.service-summary table th.table-header, 
body.age-and-ethnicity table th.table-header {
  font-size: 18px;
}

body.service-summary table th.section-header {
  text-align: left;
}

body.service-summary table th.data, 
body.service-summary table th.line-number,
body.age-and-ethnicity table th.data {
  width: 10%;
}

body.service-summary table td.greyed-out {
  background-color: #C0C0C0 !important;
}

body.service-summary table td.numeric,
body.age-and-ethnicity table td.numeric {
  text-align: right;
}

body.service-summary table td.total {
  font-weight: bold;
}

body.service-summary dl { 
  font-weight: bold; 
} 

body.service-summary dt { 
  float: left; 
  clear: left; 
  width: 2.5in; 
  text-align: left; 
  white-space: nowrap;
} 
  
body.service-summary dd { 
  padding: 5pt;
  margin-left: 2.5in;
} 

body.service-summary dt.hand-completed, 
body.service-summary dd.hand-completed, 
body.age-and-ethnicity dt.hand-completed, 
body.age-and-ethnicity dd.hand-completed { 
  margin-top: 0.4in
}

body.service-summary dd.hand-completed, 
body.age-and-ethnicity dd.hand-completed { 
  width: 4in;
  border-bottom: 2px solid black;
}

