/* html5doctor.com Reset Stylesheet \\v1.6.1 \\ Last Updated: 2010-09-17 \\ http://richclarkdesign.com \\ @rich_clark */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #bbb; margin:20px 0; padding:0; }
input, select { vertical-align:middle; }

/*
 *
 * Base Typography 
 *
 */
body { 
    font-size:13px;
    *font-size:small; 
    line-height: 1.231; 
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

p {
    margin-bottom: 10px;
    line-height: 1.7;
}
h1 {
    font-size: 25px;
    margin: 0 0 20px;
    line-height: 1.2;
}
h2 {
    font-size: 18px;
    margin: 0 0 10px;
    line-height: 1.2;
}


/*
 *
 * Base Styles 
 *
 */
body, select, input, textarea { 
    color: #444;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #0081cc; }
a:hover { color: #009ffb; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { 
  padding: 15px; 
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }
/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #FF1493; color:#fff; text-shadow: none; }
::selection { background:#FF1493; color:#fff; text-shadow: none; } 
/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF1493; } 
/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {width: auto; overflow: visible;}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {-ms-interpolation-mode: bicubic;}

/*
 *
 * Nonsemantic Base Styles 
 *
 */
/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 
/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.selfclear:before, .selfclear:after, 
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.selfclear:after,
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.selfclear,
.clearfix { zoom: 1; }
.nobreak { white-space: nowrap; }

/*
 *
 * Base Print Styles, inline to save the HTTP request
 *
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/*
 *
 * Structure
 *
 */
#header {
    padding: 20px 20px 10px;
    background: #0d4680;
    color: #ddd;
}
#header a#logo:link,
#header a#logo:visited {
    font-family: Georgia,serif;
    font-size: 28px;
    text-decoration: none;
    color: #ffffcc;
}
#header a#logo:hover,
#header a#logo:active {
    color: #fff;
}

#login-area {
    float: right;
}
#login-area a:link,
#login-area a:visited {
    color: #fff;
    text-decoration: none;
}
#login-area a:hover,
#login-area a:active {
    text-decoration: underline;
}
#login-area form {
    display: inline;
}
#login-area .separator {
    padding: 0 0.4em;
    color: #8FA7BF;
}

#crossbar {
    padding: 0 20px;
    background: #0d4680;
    color: #fff;
    position: relative;
}
/* primary & secondary menu */
#primary-nav,
#secondary-nav {
    margin: 0;
    background: #0a3968;
    float: left;
    -moz-box-shadow: 0 0 10px #062340;
    -webkit-box-shadow: 0 0 10px #062340;
    box-shadow: 0 0 10px #062340;
}
#primary-nav {
    font-size: 15px;
    font-weight: bold;
}
#secondary-nav {
    position: absolute;
    right: 20px;
    bottom: 0;
}
#primary-nav li,
#secondary-nav li {
    list-style: none;
    float: left;
    margin-right: 2px;
}
#primary-nav li:last-child, 
#secondary-nav li:last-child { margin-right: 0; }

#primary-nav a:link, #primary-nav a:visited,
#secondary-nav a:link, #secondary-nav a:visited {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    background-color: #eee;
}
#primary-nav a:link, #primary-nav a:visited {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        #eee 35%,
        #fff 100%
    );
        background-image: -moz-linear-gradient(
        center bottom,
        #eee 35%,
        #fff 100%
    );
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#secondary-nav a:link, #secondary-nav a:visited {
    background-color: #8fa7bf;
    color: #fff;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        #6c89a6 28%,
        #8fa7bf 82%
    );
        background-image: -moz-linear-gradient(
        center bottom,
        #6c89a6 28%,
        #8fa7bf 82%
    );
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
#primary-nav a:hover, #primary-nav a:active,
#secondary-nav a:hover, #secondary-nav a:active {
    background: #fff;
    color: #009FFB;
}
body.trips #primary-nav li.trips a:link, body.trips #primary-nav li.trips a:visited,
body.runs #primary-nav li.runs a:link, body.runs #primary-nav li.runs a:visited,
body.customers #primary-nav li.customers a:link, body.customers #primary-nav li.customers a:visited,
body.repeating-trips #primary-nav li.repeating-trips a:link, body.repeating-trips #primary-nav li.repeating-trips a:visited,
body.reports #primary-nav li.reports a:link, body.reports #primary-nav li.reports a:visited,
body.monthlies #primary-nav li.reports a:link, body.monthlies #primary-nav li.reports a:visited,
body.providers.show #primary-nav li.vehicles-drivers-users a:link, body.providers.show #primary-nav li.vehicles-drivers-users a:visited,
    body.new-user #primary-nav li.vehicles-drivers-users a:link, body.new-user #primary-nav li.vehicles-drivers-users a:visited,
    body.drivers #primary-nav li.vehicles-drivers-users a:link, body.drivers #primary-nav li.vehicles-drivers-users a:visited,
    body.vehicles #primary-nav li.vehicles-drivers-users a:link, body.vehicles #primary-nav li.vehicles-drivers-users a:visited,
body.providers.index #secondary-nav li.providers a:link, body.providers.index #secondary-nav li.providers a:visited,
body.funding-sources #secondary-nav li.funding-sources a:link, body.funding-sources #secondary-nav li.funding-sources a:visited {
    background: #fff;
    color: #009FFB;
}
/* override reports' vehicles class */
body.reports #primary-nav li.vehicles-drivers-users a:link, body.reports #primary-nav li.vehicles-drivers-users a:visited { 
    color: #0081CC; background-image: -webkit-gradient( linear, left bottom, left top, #eee 35%, #fff 100% ); 
    background-image: -moz-linear-gradient( center bottom, #eee 35%, #fff 100% ); 
    }
body.reports #primary-nav li.vehicles-drivers-users a:hover, body.reports #primary-nav li.vehicles-drivers-users a:active { 
    background: #fff; 
    color: #009FFB; 
    }


/* subnav - section navigation */
#subnav {
    float: right;
    list-style: none;
    margin-top: 0.8em;
}
#subnav li {
    float: left;
    margin-right: 1.25em;
}
#subnav a {
    text-decoration: none;
}

#main {
    padding: 10px 20px;
    margin: 0 0 20px;
    position: relative;
    z-index: 900;
    background: #fff;
}
#page-header {
    background: #e5f2ff;
    padding: 5px 10px;
    margin: 0 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#page-header h1 {
    margin: 0;
}
.section-header {
    margin: 10px 0;
}


/*
 *
 * Content
 *
 */
.notice {
    background-color: #ffffc6;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    line-height: 1.2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.alert {
    color: #fff;
    background-color: #e5004d;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    line-height: 1.2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.alert a {
    color: #ffffc6;
}
fieldset ol.section li div.field_with_errors {
    display: inline;
    color: #e5004d;
    float: none;
}
div#error_explanation {
    color: #e5004d;
    background-color: #ffffc6;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 15px;
}
div#error_explanation h2 {
    font-size: 16px;
    margin: 0;
}

/* forms */
form input[type="text"],
form input[type="password"],
form textarea {
    padding: 0.25em;
    background: #fff;
    border: 1px solid #bbb;
    -moz-box-shadow:inset 1px 2px 2px #ccc;
    -webkit-box-shadow:inset 1px 2px 2px #ccc;
    box-shadow:inset 1px 2px 2px #ccc;
}
ol.section {
    list-style: none;
    margin: 0;
}
ol.section li {
    margin-bottom: 10px;
    clear: left;
}
ol.section li label {
    font-weight: bold;
}
fieldset {
    clear: both;
    background: #eee;
    border: 1px solid #bbb;
    padding: 15px 15px 5px;
    margin: 0 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
fieldset legend {
    background: #e5f2ff;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
fieldset.new-trip {
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
fieldset ol.first,
fieldset ol.second,
fieldset ol.third {
    float: left;
    width: 30%;
    margin: 0 5% 0 0;
}
fieldset ol.third {
    margin: 0;
}
fieldset ol.fourth {
    float: left;
    width: 65%;
}
fieldset ol.section li label {
    float: left;
    width: 35%;
    margin-right: 2%;
}
fieldset ol.section li input {
    max-width: 60%;
}
#pickup-address-form fieldset ol.section li input {
  width: 60%;
}
fieldset ol.section li textarea {
    max-width: 60%;
    height: 3.5em;
    resize: none;
}
fieldset ol.fourth li label {
    width: 15%;
}
fieldset ol.fourth li textarea {
    width: 81.5%;
    max-width: 81.5%;
    height: 5em;
}
fieldset ol.section li input.full {
    width: 60%;
}
fieldset ol.section li.passengers input {
    max-width: 3em;
}
fieldset ol.section li.timepicker input {
    max-width: 53%;
}
fieldset ol.section li div {
    float: left;
    width: 60%;
}
fieldset ol.section li div input.full {
    width: 100%;
}
fieldset ol.section li p {
    line-height: 1.231; 
}
fieldset ol.section li ul {
    list-style: none;
    margin-left: 0;
    float: left;
    width: 60%;
}
fieldset ol.section li ul li {
    margin-bottom: 5px;
}
fieldset ol.section li ul label {
    float: none;
    width: auto;
    max-width: none;
    font-weight: normal;
}

fieldset div.group {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 0 0 15px;
    clear: both;
}
fieldset div.group label {
    font-weight: bold;
}

form div.actions {
    border-top: 1px solid #bbb;
    padding-top: 10px;
    clear: both;
    margin: 0 0 10px;
}
form div.actions input[type="submit"] {
    padding: 0.5em 0.8em;
    background: #0081CC;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form div.actions input[type="submit"]:hover {
    background: #009FFB;
}
/* tables */
table {
    width: 100%;
    margin-bottom: 10px;
    border-top: 5px solid #2e6399;
    border-bottom: 10px solid #f7f7f7;
    border-collapse: separate;
    background: #f7f7f7;

    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;

    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;

    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
#calendar table {
    border: 0;
    border-collapse: collapse;
    background: #fff;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
tr {
    background: #fff;
}
tr.odd {
    background: #f7f7f7;
}
table td,
table th {
    padding: 5px 10px 10px;
}
table th {
    text-align: left;
    background: #2e6399;
    color: #ddd;
}

/*
 *
 * Calendar
 *
 */
#calendar { margin: 0; }
body.index #calendar { margin: 0 0 20px; border-bottom: 1px solid #bbb; }

/* buttons */
.ui-button-text-icon-primary .ui-icon-seek-prev, .ui-button-text-icons .ui-icon-seek-prev, .ui-button-icons-only .ui-icon-seek-prev { left: 50% !important; }
.ui-button-text-icon-primary .ui-icon-seek-next, .ui-button-text-icons .ui-icon-seek-next, .ui-button-icons-only .ui-icon-seek-next { left: 50% !important; }
.ui-button-icons-only .ui-icon-home { left: .5em !important; }

/* colors */
.wc-container{}
.wc-toolbar{
    background:#BBCCFF; border:none; padding:5px !important;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
.wc-header{background:#E3E9FF;border:none;font-size:11px;}
.wc-header{border-bottom:2px solid #BBCCFF;}
.wc-hour-end, .wc-hour-header{color:#666666;border-color:#ccc}
.wc-hour-header,
.wc-grid-timeslot-header,
.wc-business-hours{background:#F6F9FC;}
.wc-column-odd{background:transparent;}
.wc-column-even{background:#ddddbe;}
.wc-time-slots .wc-today {background-color: #ffffcc;}
.wc-grid-timeslot-header {border-left:1px solid #bbb;}
.wc-scrollable-grid .wc-day-column-last,
.wc-scrollable-grid .wc-day-column-middle,
.wc-scrollable-grid .wc-day-column-first{border-color:#ddd;}
/*calendar*/
.wc-day-column-first,
.wc-day-column-last,
.wc-day-column-middle,
.wc-time-slot{border-color: #ccc;}
.wc-header .wc-day-column-header.wc-today{background-color:#FAD163;border-color:#FAD163;}
.wc-header .wc-today.wc-user-header{font-weight:normal;}
.wc-today.wc-day-column-last{border-right:3px double #FAD163;}
.wc-today.wc-day-column-first{border-left:3px double #FAD163;}

/*
 *
 * Timepicker 
 *
 */
#ui-datepicker-div table {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;
    background: transparent;
}
#ui-datepicker-div table tr {
    background: transparent;
}
#ui-datepicker-div table th {
    background: #fff;
    color: #444;
    font-size: 11px;
}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td {  }
.ui_tpicker_hour,
.ui_tpicker_minute { font-size: 9px; }
  
.ui-datepicker-trigger {
    padding-left: 5px;
    vertical-align: middle;
}

/*
 *
 * Customers, Users, Drivers, Vehicles
 *
 */
.customer-search {
    margin-bottom: 10px;
}
.customer-search label {
    font-weight: bold;
}
.customer-list td,
.customer-list th {
    padding: 10px 10px 10px 0;
}
.customer-list td.plurality {
    padding: 10px 0 10px 10px;
}
span.group,
span.individual {
    display: block;
    height: 16px;
    width: 16px;
    text-indent: -9999px;
}
span.group {
    background: url(images/users.png) left center no-repeat scroll;
}
span.individual {
    background: url(images/user.png) left center no-repeat scroll;
}
a.edit,
a.new-trip,
a.delete,
a.new-maintenance,
a.edit-maintenance,
a.edit-driver,
a.edit-vehicle {
    padding: 5px 0 5px 20px;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
}
a.edit {
    background: url(images/card--pencil.png) left center no-repeat scroll;
}
a.new-trip {
    background: url(images/plus-button.png) left center no-repeat scroll;
}
a.delete {
    background: url(images/cross-button.png) left center no-repeat scroll;
    color: #e5004d;
}
a.new-maintenance {
    background: url(images/wrench--plus.png) left center no-repeat scroll;
}
a.edit-maintenance {
    background: url(images/wrench--pencil.png) left center no-repeat scroll;
}
a.edit-driver {
    background: url(images/pencil.png) left center no-repeat scroll;
}
a.edit-vehicle {
    background: url(images/pencil.png) left center no-repeat scroll;
}
a.delete:hover,
a.delete:active {
    color: #ff4d88;
}
a.new-trip:hover,
a.new-trip:active,
a.edit:hover,
a.edit:active,
a.delete:hover,
a.delete:active {
    text-decoration: underline;
}
a.cancel {
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    background: url(images/cross-button.png) left center no-repeat scroll;
    color: #e5004d;
    float: right;
}
input.delete {
    background: url(images/cross-button.png) left center no-repeat scroll;
    color: #e5004d;
    padding: 5px 0 5px 17px;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    border: 0;
}
input.delete:hover,
input.delete:active {
    color: #ff4d88;
    text-decoration: underline;
}

.profile-actions .manage {
    float: right;
    margin-bottom : 10px;
}

.profile-actions .manage .delete {
  margin-left : 10px;
}

.profile-actions .separator {
    display: none;
}

body.customers #confirm-destroy legend {
  display: none;
}

body.customers #confirm-destroy fieldset {
  margin: 0;
}

p.activation-dates .separator {
    padding: 0 0.4em;
    color: #bbb;
}
p.activation-dates label {
    font-weight: bold;
}

div.customer-profile,
div.vehicle-profile,
div.trip-profile,
div.report {
    border-top: 1px solid #bbb;
    padding: 20px 0 0;
    margin: 0 0 20px;
}
div.customer-profile dl,
div.vehicle-profile dl,
div.trip-profile dl,
div.report dl {
    float: left;
    width: 33%;
    margin: 0;
}
div.customer-profile dt,
div.vehicle-profile dt,
div.trip-profile dt,
div.report dt {
    font-weight: bold;
    float: left;
    width: 30%;
    margin-right: 2%;
    clear: both;
}
div.customer-profile dd,
div.vehicle-profile dd,
div.trip-profile dd,
div.report dd {
    margin-bottom: 15px;
    float: left;
    width: 60%;
}

/*
 *
 * Pagination
 *
 */
div.pagination {
    text-align: center;
    padding: 20px 0;
}
div.alpha-pagination {
  padding-top : 0;
}
a.previous_page {
    float: left;
}
a.next_page {
    float: right;
}
a.previous_page,
a.next_page {
    padding: 0.5em 0.8em;
    background: #009FFB;
    color: #fff !important;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
a.previous_page:hover,
a.previous_page:active,
a.next_page:hover,
a.next_page:active {
    background: #0081cc;
}

div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled {
    padding: 0.5em 0.8em;
    background: #bbb;
    color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: default;
}
div.pagination span.previous_page.disabled {
    float: left;
}
div.pagination span.next_page.disabled {
    float: right;
}

/*
 *
 * Reports
 *
 */
ul.reports {
    list-style: none;
    margin-left: 0;
}
ul.reports li {
    margin: 0 0 10px;
}
ul.reports li a {
    padding: 5px 0 5px 20px;
    text-decoration: none;
    background: url(images/reports-stack.png) left center no-repeat scroll;
}

body.daily-manifest-by-half-hour ul.schedule {
  list-style : none;
  margin     : 0;
}

body.daily-manifest-by-half-hour ul.schedule li {
  min-height    : 90px;
  border-bottom : 1px solid #bbb;
  padding       : 15px 0;
}

body.daily-manifest-by-half-hour span.address_separator,
body.daily-manifest span.address_separator {
  margin : 0 25px;
}

/*
 *
 * Funding Sources
 *
 */
ul.funding-sources {
    list-style: none;
    margin-left: 0;
}
ul.funding-sources li {
    margin: 0 0 10px;
}
ul.funding-sources li a {
    padding: 5px 0 5px 20px;
    text-decoration: none;
    background: url(images/credit-card.png) left center no-repeat scroll;
}

/*
 *
 * Providers
 *
 */
td.admin,
td.editor,
td.user,
td.active,
td.inactive,
tr.active td.name,
tr.inactive td.name {
    padding-left: 36px;
}
td.admin {
    background: url(images/user-worker-boss.png) 10px 0.75em no-repeat scroll;
}
td.editor {
    background: url(images/user-worker.png) 10px 0.75em no-repeat scroll;
}
td.user {
    background: url(images/user.png) 10px 0.75em no-repeat scroll;
}
td.active {
    background: url(images/dashboard--plus.png) 10px 0.75em no-repeat scroll;
}
td.inactive {
    background: url(images/dashboard--inactive.png) 10px 0.75em no-repeat scroll;
}
td.inactive {
    background: url(images/dashboard--inactive.png) 10px 0.75em no-repeat scroll;
}
tr.active td.name {
    background: url(images/car.png) 10px 0.75em no-repeat scroll;
}
tr.inactive td.name {
    background: url(images/car--inactive.png) 10px 0.75em no-repeat scroll;
}

/*
 *
 * Action Button
 *
 */
a.action-bttn:link,
a.action-bttn:visited {
    padding: 0.5em 0.8em 0.5em 2.25em;
    background: #eee url(images/arrow-180.png) 0.8em center no-repeat scroll;
    color: #0081CC;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}
a.action-bttn:hover,
a.action-bttn:active {
    color: #009FFB;
}
body.trips.index a.action-bttn.new,
body.runs.index a.action-bttn.new {
    background: #eee url(images/plus.png) 0.8em center no-repeat scroll;
}
/* funding sources */
body.funding-sources.index a.action-bttn {
    background: #eee url(images/credit-card--plus.png) 0.8em center no-repeat scroll;
}
/* customers */
body.customers.index a.action-bttn {
    background: #eee url(images/user--plus.png) 0.8em center no-repeat scroll;
}
/* providers */
body.providers a.new-user {
    background: #eee url(images/user--plus.png) 0.8em center no-repeat scroll;
}
body.providers a.new-driver {
    background: #eee url(images/dashboard--plus.png) 0.8em center no-repeat scroll;
}
body.providers a.new-vehicle {
    background: #eee url(images/car--plus.png) 0.8em center no-repeat scroll;
}
body.providers a.new-provider {
    background: #eee url(images/plus.png) 0.8em center no-repeat scroll;
}
body.providers span.device-pool-color {
  display : block;
  width : 100px;
  height : 25px;
  border : 1px solid #CCC;
}
body.monthlies a.new-report {
    background: #eee url(images/report--plus.png) 0.8em center no-repeat scroll;
}

/*
 *
 * Color picker
 *
 */
fieldset ol.section li div.color_picker,
div.color_picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  margin-bottom : 5px;
}

div#color_selector {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index : 1000;
}

div#color_custom {width: 100%; float:left }
div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.color_swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

/*
 *
 * Runs
 *
 */
body.runs .wc-nav {
  margin-bottom : 20px;
}

/*
 *
 * Trips
 *
 */
body.trips div.wc-toolbar {
  position : relative;
}

body.trips div.wc-toolbar div#expand_calendar {
  position : absolute;
  right    : 5px;
  top      : 5px;
}

body.trips div.wc-toolbar div#expand_calendar span.ui-icon {
  margin : -6px 0 0 -1px;
}

body.trips div.wc-cal-event {
  background-color : #A9CAF2;
  color : #000;
}

body.trips .wc-cal-event .wc-time {
  color : #000;
  background-color: #68A1E5;
  border: 1px solid #68A1E5;
}

/*
 *
 * Dispatch
 *
 */
.dispatch #main {
 padding: 10px 1% 10px 1%;
 margin-bottom: 10px;
}

.dispatch .left_column {
 width: 20%;
 margin: 0 1% 0 0;
 float : left;
}

.dispatch #map-container {
 width : 79%;
 min-height : 300px;
}

.dispatch span.color {
 display : inline-block;
 width : 12px;
 height : 12px;
 border-radius : 6px;
 vertical-align : middle;
 border: 1px solid black;
}

.dispatch span.inactive {
 font-style : italic;
 color : #999;
}

.dispatch #refresh {
  clear      : left; 
}

.dispatch .marker_detail h3 {
  font-style: italic;
}

.dispatch .marker_detail h4 {
  font-weight: normal;
}