<div id="page-header">
  <h1>Customer Listing</h1>
</div>

<%= render :partial=>"customer_listing" %>

<%= will_paginate @customers %>

<hr />

<%= link_to 'New Customer', new_customer_path, :class=>'action-bttn' %>
