<div id="page-header">
  <h1>Funding Sources</h1>
</div>

<ul class="funding-sources">
  <% for funding_source in @funding_sources %>
  <li><%= link_to funding_source.name, funding_source %></li>
  <% end %>
</ul>

<hr/>

<%= link_to 'New Funding Source', { :action=>:new }, :class=>'action-bttn' %>
