<div id="page-header">
  <h1>Dispatcher</h1>
</div>

<div id="tree">
  Tree
</div>

<div id="map-container">
  
</div>

<style type="text/css" media="screen">
  #tree {
    width : 300px;
    margin: 0 20px 0;
    float : left;
  }
  
  #map-container {
    width : 625px;
    height : 490px;
  }
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "jquery.jstree.js" %>

<script type="text/javascript" charset="utf-8">
  function Dispatcher (tree_id, map_id) {
    _d             = this,
    this.tree      = null,
    this.map       = null,
    this._data     = null, 
    this._tree_elem  = $("#" + tree_id),
    
    this.init = function(map_id){
      _d.map = new google.maps.Map( document.getElementById(map_id), {
        zoom      : 11,
        mapTypeId : google.maps.MapTypeId.ROADMAP, 
        center    : new google.maps.LatLng(45.5234515, -122.6762071)
      });
    },
    
    this.setData = function(data){
      _d._data = data;
      
      _d.initTree();
      _d.initMarkers();
    },
    
    this.initTree = function(){
      _d.tree = _d._tree_elem.jstree({
        core    : {},
        plugins : [ "json_data"],// "ui"],//, "types"],
        json_data : tree//,
        // ui      : {
        //           select_multiple_modifier : "on",
        //           select_prev_on_delete : false, 
        //           disable_selecting_children : true
        //         },
      });
      
      // this isnt working without a delay ?
      window.setTimeout(function(){_d._tree_elem.jstree("open_all", -1);}, 1);
    },
    
    this.initMarkers = function(){
      // add points to map
    };
    
    this.init(map_id);
  }
  
  var d = new Dispatcher("tree", "map-container");
  
  var tree = {
    data : [ // providers
      {
        data : "Ride Connection",
        metadata : { id : 1 },
        children : [ // device_pools
          {
            data : "Device Pool 1", // do device pools have names ?
            metadata : { color : "#ccc", id : 1},
            children : [ // devices
              {
              	data   : "Device 1",
              	metadata : { id : 1, lat : 45.520300607576864, lng : -122.72346496582031, status : 'break' }
              }
            ]
          },
          {
            data : "Device Pool 2",
            metadata : { color   : "#FFC", id : 2 },
            children : [
              {
                data : "Device 2",
                metadata : { id : 2,  lat : 45.51945867165255, lng : -122.65480041503906, status : 'active' }
              }
            ]
          }
        ]
      }, {
        data : "Someone Else",
        metadata : { id : 2 },
        children : [ // device pools
          {
            data : "Device Pool 3",
            metadata : { color   : "#0D4680", id: 3},
            children : [ // devices
              {
                data : "Device 3",
                metadata : { id : 3, lat : 45.54447082163623,  lng : -122.66055107116699, status : 'inactive' }  
              },
              {
              	data : "Device 4",
              	metadata : { id : 4, lat : 45.540683638652524, lng : -122.69479751586914, status : 'active' }
            	}
            ]
          }
        ]
      }
    ]
  };
  
  d.setData(tree);
</script>