<div id="page-header">
  <h1>Add Maintenance Event</h1>
</div>

<%= render :partial=>'form' %>

<% if current_user && can?(:edit, Provider) %>
<hr />
<%= link_to 'Back', provider_path(current_user.current_provider), :class=>'action-bttn' %>
<% end %>
