<%= image_tag("rc-grayscale-logo.jpg", :size => "100x65", :id => "logo") %>

<div id="address">
  Ride Connection, Inc.
  <br />
  847 NE 19th Ave #200
  <br />
  Portland, OR 97232
  <br />
  503.528.1720
</div>

<div id="instructions">
  <strong>Please submit report by the 5th of each month to:</strong>
  <br />
  Kirsten Huckfeldt, Fiscal Specialist
  <br />
  Phone: 503.528.1742
  <br />
  Fax: 503.528.1755
  <br />
  Email: Khuckfeldt@rideconnection.org
</div>
