<% content_for(:title){"Manifest #{@date.strftime('%v')}"} %>
<% i = 0 %>
<% for driver, trips in @trips %>
  <% i += 1 %>

  <h1>Transportation Manifest</h1>
  <h2><%= format_date_for_daily_manifest @date %> &mdash; <%= driver.present? ? driver.name : 'Unspecified driver' %></h2>
  
  <% if @cab_trips %>
    <div class="cab-summary">
      <h2>Cab Trips</h2>
      <%= render 'manifest_trips', :trips => @cab_trips %>
    </div>
  <% end %>

  <%= render 'manifest_trips', :trips => trips %>

  <% if i != @trips.size %>
    <br style="page-break-after:always" /> 
  <% end %>
<% end %>
