<h1>Transportation Schedule</h1>
<h2><%= format_date_for_daily_manifest @date %></h2>

<% i = 0 %>
<% for driver, trips in @trips %>
  <% i += 1 %>

  Driver: <%= driver.name %>

  <% for trip in trips %>
    <strong><%= trip.pickup_time %></strong><br/>
    <%= raw format_trip_for_daily_manifest(trip) %>
    <hr>
  <% end %>

  <% if i != @trips.size %>
    <p style="page-break-after:always" />
  <% end %>
<% end %>
