<% i = 0 %>
<% for driver, trips in @trips %>
  <% i += 1 %>

  <h1>Transportation Manifest</h1>
  <h2><%= format_date_for_daily_manifest @date %> &mdash; <%= driver.present? ? driver.name : 'Unspecified driver' %></h2>

  <% for trip in trips %>
    <strong><%= trip.pickup_time %></strong><br/>
    <%= render 'manifest_trip', :trip => trip %>
    <hr>
  <% end %>

  <% if i != @trips.size %>
    <br style="page-break-after:always" /> 
  <% end %>
<% end %>
