<% content_for :menu_bar do %>
        <ul id="sitenav" class="selfclear">
          <li><%= link_to "Search Customers", :action=>:search %></li>
          <li><%= link_to "List Customers", :action=>:index %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
