<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to "Active Customers", :action=>:index %></li>
          <li><%= link_to "All Customers", :action=>:all %></li>
          <li><%= link_to "New Customer", :action=>:new %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
