<% content_for :menu_bar do %>
        <ul id="subnav" class="selfclear">
          <li><%= link_to "View Runs", :action=>:index %></li>
        </ul>
<% end %>

<%= render :file => 'layouts/application' %>
